@charset "UTF-8";
/* Aquí definimos las Custom properties */
:root {
  --negro: #393939;
  --blanco: #ececec;
  --sombra-ppal: #c9c9c9;
  --sombra-sec: #ffffff;
  --borde-negro: #00000050;
  --marcado: rgb(127, 195, 255);
  /* Tipografía */
  --tipo-principal: Helvetica, Arial, sans-serif;
}

/* Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
    --blanco: #303030;
    --sombra-ppal: #242424;
    --sombra-sec: #3c3c3c;
    --borde-negro: #FFFFFF50;
  }
}
/* Configuramos si un usuario ha activado el modo alto contraste. (BETA) */
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}

img {
  max-width: 100%;
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

video {
  max-width: 100%;
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, strong, a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
}

::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}

::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  display: block;
}

body {
  font-family: var(--tipo-principal);
  font-size: 100%;
  min-height: 100vh;
  background-color: var(--blanco);
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: Bebas;
  src: url(../assets/fuentes/bebas/BebasNeue-Regular.ttf);
}
@font-face {
  font-family: Rajdhani1;
  src: url(../assets/fuentes/rajdhani/Rajdhani-Light.ttf);
}
@font-face {
  font-family: Rajdhani2;
  src: url(../assets/fuentes/rajdhani/Rajdhani-Medium.ttf);
}
@font-face {
  font-family: Rajdhani3;
  src: url(../assets/fuentes/rajdhani/Rajdhani-Regular.ttf);
}
@font-face {
  font-family: Rajdhani4;
  src: url(../assets/fuentes/rajdhani/Rajdhani-SemiBold.ttf);
}
@font-face {
  font-family: Rajdhani5;
  src: url(../assets/fuentes/rajdhani/Rajdhani-Bold.ttf);
}
@font-face {
  font-family: Teko1;
  src: url(../assets/fuentes/teko/Teko-Light.ttf);
}
@font-face {
  font-family: Teko2;
  src: url(../assets/fuentes/teko/Teko-Medium.ttf);
}
@font-face {
  font-family: Teko3;
  src: url(../assets/fuentes/teko/Teko-Regular.ttf);
}
@font-face {
  font-family: Teko4;
  src: url(../assets/fuentes/teko/Teko-SemiBold.ttf);
}
@font-face {
  font-family: Teko5;
  src: url(../assets/fuentes/teko/Teko-Bold.ttf);
}
body {
  background-color: linen;
}

.landing {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.landing .descripcion .fondoAnimado2 {
  position: absolute;
  width: 70%;
  height: 80%;
  left: 15%;
  top: 10%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  z-index: 1;
  -webkit-animation: fondoAnimado2 40s linear infinite;
          animation: fondoAnimado2 40s linear infinite;
}

.landing .descripcion {
  background-color: black;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  overflow: hidden;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.landing .descripcion.activo {
  background-color: linen;
}

.landing .descripcion span {
  -webkit-text-stroke: 1.5px;
  -webkit-text-fill-color: transparent;
  position: relative;
  z-index: 2;
}

.landing .descripcion .p {
  font-family: Bebas;
  font-family: Rajdhani5;
  font-family: Teko5;
  font-size: 125px;
  color: #f55550;
  color: #bdd9bf;
  color: linen;
  font-weight: 500;
  letter-spacing: 5px;
  -webkit-text-stroke: 2.5px;
  -webkit-text-fill-color: transparent;
  position: relative;
  z-index: 2;
}

.landing .descripcion .p span {
  -webkit-text-stroke: 0px;
  -webkit-text-fill-color: linen;
  font-weight: 800;
  position: relative;
  z-index: 2;
}

.landing .descripcion .p2 {
  font-family: Teko5;
  font-size: 45px;
  color: #f55550;
  color: #bdd9bf;
  color: #f0a50a;
  color: #323234;
  color: linen;
  position: relative;
  z-index: 2;
}

.landing .descripcion .p3 {
  width: 100%;
  position: absolute;
  font-family: Teko5;
  left: 0;
  bottom: 0;
  text-align: center;
  color: linen;
  z-index: 2;
}

.landing .descripcion .redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 2;
}

.landing .descripcion .redes2 {
  width: 15%;
  -webkit-transform: rotate(150deg);
          transform: rotate(150deg);
  position: relative;
  z-index: 2;
}

.landing .descripcion .redes .img {
  width: 60%;
  margin: 50px 25px 25px 25px;
  cursor: pointer;
  position: relative;
  z-index: 2;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.landing .descripcion .redes .img:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.proyectos {
  width: 100%;
  height: 150vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.proyectos.activo {
  background-color: transparent;
}

.proyectos .p {
  width: 100%;
  height: 5%;
  text-align: center;
  font-family: Rajdhani5;
  font-size: 75px;
  margin: 50px;
  -webkit-text-stroke: 1.5px;
  -webkit-text-fill-color: transparent;
}

.proyectos .imagenes {
  width: 50%;
  height: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.proyectos .imagenes .foto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.proyectos .imagenes .foto:first-child {
  width: 100%;
  height: 55vh;
  background-image: url(../assets/imagenes/WebArquitectura.JPG);
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}

.proyectos .imagenes .foto:last-child {
  width: 100%;
  height: 55vh;
  background-image: url(../assets/imagenes/Captura2.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}

.proyectos .imagenes .overlay {
  position: relative;
}

.proyectos .imagenes .overlay::before {
  -webkit-transition: 0.75s;
  transition: 0.75s;
  background-color: rgba(0, 0, 0, 0);
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.proyectos .imagenes .overlay:hover .titulo .p {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
}

.proyectos .imagenes .overlay:hover::before {
  background-color: linen;
}

.proyectos .imagenes .foto .titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.proyectos .imagenes .foto .titulo .p {
  font-family: Rajdhani5;
  font-size: 50px;
  background-color: transparent;
  position: relative;
  text-align: center;
  -webkit-text-stroke: 0px;
  -webkit-text-fill-color: #323234;
  opacity: 0;
  -webkit-transform: translateY(-400%);
          transform: translateY(-400%);
  -webkit-transition: all 0.75s ease;
  transition: all 0.75s ease;
}

.aptitudes {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: linen;
}

.aptitudes .div {
  width: 100%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aptitudes .div .izquierda {
  text-align: left;
  padding-left: 15%;
  color: #f55550;
}

.aptitudes .div .derecha {
  padding-right: 20%;
  text-align: right;
}

.aptitudes .div .centro {
  text-align: center;
  color: #f55550;
}

.aptitudes .div p {
  width: 100%;
  font-family: teko5;
  font-size: 110px;
  -webkit-text-stroke: 1.5px;
  -webkit-text-fill-color: transparent;
  margin: -50px 0 0 0;
}

.aptitudes .span {
  display: inline-block;
  margin: 0 0.1em 0 0.15em;
  opacity: 0.75;
}

.footer {
  width: 100%;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  overflow: hidden;
}

.footer .marquee {
  width: 100%;
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #323234;
}

.footer .marquee .desplaza {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 200%;
          flex: 0 0 200%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: desplazar 20s linear infinite both;
          animation: desplazar 20s linear infinite both;
  -webkit-text-stroke: 1.5px;
  -webkit-text-fill-color: transparent;
  color: #323234;
  -webkit-transition: 1s;
  transition: 1s;
}
.footer .marquee .desplaza:hover {
  color: #f55550;
  -webkit-text-fill-color: #f55550;
  -webkit-text-stroke: 0px;
}

.footer .marquee .desplaza .p {
  width: calc(100%/ 4);
  font-family: teko5;
  font-size: 60px;
}

.footer .cuadrado {
  width: 98%;
  height: 25vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #323234;
  position: absolute;
  bottom: 0;
  margin: 2% 2% 1% 2%;
  z-index: 2;
}

.footer .cuadrado .texto {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .cuadrado .texto .a {
  font-family: termina, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 19px;
  color: linen;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer .cuadrado .texto .a:hover {
  color: #f55550;
}

@-webkit-keyframes desplazar {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@keyframes desplazar {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
@-webkit-keyframes fondoAnimado {
  0% {
    background-position-y: -30%;
    background-position-x: 50%;
  }
  15% {
    background-position-y: -60%;
    background-position-x: 48%;
  }
  30% {
    background-position-y: -30%;
    background-position-x: 45%;
  }
  45% {
    background-position-y: 0%;
    background-position-x: 48%;
  }
  60% {
    background-position-y: 30%;
    background-position-x: 50%;
  }
  75% {
    background-position-y: 0%;
    background-position-x: 53%;
  }
  100% {
    background-position-y: -30%;
    background-position-x: 50%;
  }
}
@keyframes fondoAnimado {
  0% {
    background-position-y: -30%;
    background-position-x: 50%;
  }
  15% {
    background-position-y: -60%;
    background-position-x: 48%;
  }
  30% {
    background-position-y: -30%;
    background-position-x: 45%;
  }
  45% {
    background-position-y: 0%;
    background-position-x: 48%;
  }
  60% {
    background-position-y: 30%;
    background-position-x: 50%;
  }
  75% {
    background-position-y: 0%;
    background-position-x: 53%;
  }
  100% {
    background-position-y: -30%;
    background-position-x: 50%;
  }
}
@-webkit-keyframes fondoAnimado2 {
  0% {
    -webkit-transform: rotateY(0deg) skew(0deg) scale(1);
            transform: rotateY(0deg) skew(0deg) scale(1);
  }
  20% {
    -webkit-transform: rotateY(10deg) skew(10deg) scale(1.2);
            transform: rotateY(10deg) skew(10deg) scale(1.2);
  }
  40% {
    -webkit-transform: rotateY(12deg) skew(5deg) scale(1.3);
            transform: rotateY(12deg) skew(5deg) scale(1.3);
  }
  60% {
    -webkit-transform: rotateY(14deg) skew(10deg) scale(1.3);
            transform: rotateY(14deg) skew(10deg) scale(1.3);
  }
  80% {
    -webkit-transform: rotateY(10deg) skew(5deg) scale(1.2);
            transform: rotateY(10deg) skew(5deg) scale(1.2);
  }
  100% {
    -webkit-transform: rotateY(0deg) skew(0deg) scale(1);
            transform: rotateY(0deg) skew(0deg) scale(1);
  }
}
@keyframes fondoAnimado2 {
  0% {
    -webkit-transform: rotateY(0deg) skew(0deg) scale(1);
            transform: rotateY(0deg) skew(0deg) scale(1);
  }
  20% {
    -webkit-transform: rotateY(10deg) skew(10deg) scale(1.2);
            transform: rotateY(10deg) skew(10deg) scale(1.2);
  }
  40% {
    -webkit-transform: rotateY(12deg) skew(5deg) scale(1.3);
            transform: rotateY(12deg) skew(5deg) scale(1.3);
  }
  60% {
    -webkit-transform: rotateY(14deg) skew(10deg) scale(1.3);
            transform: rotateY(14deg) skew(10deg) scale(1.3);
  }
  80% {
    -webkit-transform: rotateY(10deg) skew(5deg) scale(1.2);
            transform: rotateY(10deg) skew(5deg) scale(1.2);
  }
  100% {
    -webkit-transform: rotateY(0deg) skew(0deg) scale(1);
            transform: rotateY(0deg) skew(0deg) scale(1);
  }
}
@media (max-width: 1540px) {
  .footer .marquee .desplaza .p {
    font-size: 50px;
  }
}
@media (max-width: 1500px) {
  .proyectos .imagenes {
    width: 70%;
  }
}
@media (max-width: 1350px) {
  .aptitudes .div p {
    font-size: 100px;
  }

  .footer .marquee .desplaza .p {
    font-size: 45px;
  }
}
@media (max-width: 1230px) {
  .aptitudes .div p {
    font-size: 90px;
  }
}
@media (max-width: 1182px) {
  .landing .descripcion .p {
    font-size: 110px;
    letter-spacing: 2.5px;
  }

  .landing .descripcion .p2 {
    font-size: 40px;
  }

  .landing .descripcion .redes .img {
    width: 50%;
    margin: 40px 15px 15px 15px;
  }

  .footer .marquee .desplaza .p {
    font-size: 40px;
  }
}
@media (max-width: 1110px) {
  .aptitudes {
    height: 60vh;
  }

  .aptitudes .div p {
    font-size: 80px;
  }
}
@media (max-width: 1062px) {
  .proyectos .imagenes .foto .titulo .p {
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
  }

  .footer .marquee .desplaza .p {
    font-size: 35px;
  }
}
@media (max-width: 1062px) {
  .proyectos .p {
    font-size: 60px;
  }

  .proyectos .imagenes .foto .titulo .p {
    -webkit-transform: translateY(-180%);
            transform: translateY(-180%);
  }

  .aptitudes .div p {
    font-size: 75px;
  }
}
@media (max-width: 1000px) {
  .landing .descripcion .p {
    font-size: 100px;
    letter-spacing: 1.5px;
  }

  .landing .descripcion .p2 {
    font-size: 35px;
  }

  .landing .descripcion .redes .img {
    width: 40%;
    margin: 35px 10px 10px 10px;
  }
}
@media (max-width: 925px) {
  .aptitudes .div p {
    font-size: 70px;
    margin: -25px 0 0 0;
  }

  .footer .marquee .desplaza .p {
    width: calc(100% / 2);
  }

  .footer .marquee .desplaza .p:nth-child(odd) {
    display: none;
  }
}
@media (max-width: 894px) {
  .landing .descripcion .fondoAnimado2 {
    width: 60%;
    left: 20%;
  }

  .landing .descripcion .p {
    font-size: 90px;
    letter-spacing: 1.5px;
  }

  .landing .descripcion .p2 {
    font-size: 30px;
  }

  .landing .descripcion .redes .img {
    width: 40%;
    margin: 35px 10px 10px 10px;
  }
}
@media (max-width: 860px) {
  .landing .descripcion .redes .img {
    -webkit-transition: 0s;
    transition: 0s;
  }
  .landing .descripcion .redes .img:hover {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  .aptitudes .div p {
    font-size: 65px;
    margin: -15px 0 0 0;
  }

  .aptitudes .div p {
    font-size: 60px;
    margin: -15px 0 0 0;
  }

  .proyectos .p {
    margin: 0px;
  }

  .proyectos .imagenes .overlay {
    position: relative;
  }

  .proyectos .imagenes .overlay::before {
    background-color: rgba(0, 0, 0, 0);
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
  }

  .proyectos .imagenes .overlay:hover .titulo .p {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }

  .proyectos .imagenes .overlay:hover::before {
    background-color: transparent;
  }

  .proyectos .imagenes .foto .titulo {
    width: 100%;
    background-color: linen;
    position: absolute;
    left: 0;
    bottom: 40;
  }

  .proyectos .imagenes .foto .titulo .p {
    font-family: Rajdhani5;
    font-size: 30px;
    text-align: center;
    -webkit-text-stroke: 0px;
    color: #323234;
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@media (max-width: 810px) {
  .landing .descripcion .p {
    font-size: 80px;
    letter-spacing: 1.5px;
  }

  .landing .descripcion .p2 {
    font-size: 30px;
  }

  .landing .descripcion .redes .img {
    width: 40%;
    margin: 35px 10px 10px 10px;
  }
}
@media (max-width: 745px) {
  .proyectos .p {
    font-size: 50px;
  }

  .proyectos .imagenes .foto .titulo .p {
    font-size: 35px;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }

  .aptitudes .div p {
    font-size: 55px;
    margin: -15px 0 0 0;
  }

  .proyectos .imagenes .overlay:hover .titulo .p {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }

  .footer .cuadrado .texto .a {
    font-size: 16px;
  }
}
@media (max-width: 725px) {
  .landing .descripcion .p {
    font-size: 70px;
    letter-spacing: 1.5px;
  }

  .landing .descripcion .p2 {
    font-size: 25px;
  }

  .landing .descripcion .redes .img {
    width: 40%;
    margin: 35px 10px 10px 10px;
  }
}
@media (max-width: 685px) {
  .proyectos .p {
    font-size: 45px;
  }

  .aptitudes .div p {
    font-size: 50px;
    margin: -15px 0 0 0;
  }
}
@media (max-width: 641px) {
  .landing .descripcion .p {
    font-size: 60px;
    letter-spacing: 1.5px;
  }

  .landing .descripcion .p2 {
    font-size: 25px;
  }

  .landing .descripcion .redes .img {
    width: 40%;
    margin: 35px 10px 10px 10px;
  }

  .landing .descripcion .redes .img {
    width: 35%;
    margin: 30px 10px 10px 10px;
  }
}
@media (max-width: 625px) {
  .proyectos .p {
    font-size: 40px;
  }

  .aptitudes .div p {
    font-size: 45px;
  }
}
@media (max-width: 565px) {
  .landing .descripcion .fondoAnimado2 {
    width: 50%;
    left: 20%;
  }

  .landing .descripcion .p {
    -webkit-text-stroke: 1.5px;
  }

  .proyectos {
    height: 100vh;
  }

  .proyectos .imagenes .foto .titulo .p {
    width: 100%;
    font-size: 25px;
  }

  .aptitudes .div p {
    font-size: 40px;
    margin: -5px 0 0 0;
  }

  .landing .descripcion .p {
    font-size: 50px;
    letter-spacing: 1.5px;
  }

  .landing .descripcion .p2 {
    font-size: 20px;
  }

  .landing .descripcion .redes .img {
    width: 35%;
  }

  .footer .marquee .desplaza .p {
    font-size: 30px;
  }

  .footer .cuadrado .texto .a {
    font-size: 14px;
  }
}
@media (max-width: 505px) {
  .proyectos .p {
    font-size: 35px;
  }

  .aptitudes .div p {
    font-size: 35px;
  }

  .footer {
    height: 35vh;
  }

  .footer .cuadrado {
    height: 15vh;
    margin: 4% 4% 2% 4%;
  }

  .footer .cuadrado .texto .a {
    font-size: 13px;
  }
}
@media (max-width: 475px) {
  .landing .descripcion .p {
    font-size: 45px;
    letter-spacing: 1px;
  }

  .landing .descripcion .p2 {
    font-size: 20px;
  }

  .landing .descripcion .redes .img {
    width: 40%;
    margin: 35px 10px 10px 10px;
  }

  .footer .cuadrado .texto {
    width: 90%;
  }

  .footer .cuadrado .texto .a {
    font-size: 11px;
  }
}
@media (max-width: 425px) {
  .proyectos {
    height: 80vh;
  }

  .proyectos .p {
    width: 50%;
    font-size: 30px;
  }

  .proyectos .imagenes .foto .titulo .p {
    font-size: 20px;
  }

  .aptitudes .div p {
    font-size: 30px;
  }
}
@media (max-width: 410px) {
  .landing .descripcion .p {
    font-size: 35px;
    letter-spacing: 1px;
  }

  .landing .descripcion .p2 {
    font-size: 15px;
  }

  .landing .descripcion .redes .img {
    width: 35%;
    margin: 35px 10px 10px 10px;
  }
}
@media (max-width: 385px) {
  .proyectos .p {
    font-size: 30px;
    -webkit-text-stroke: 1.25px;
  }

  .landing .descripcion .redes .img {
    width: 30%;
  }

  .footer .marquee .desplaza .p {
    font-size: 25px;
  }
}
@media (max-width: 375px) {
  .aptitudes .div p {
    font-size: 25px;
    -webkit-text-stroke: 1.25px;
  }
}